<div class="task-block monthtask-<%= id %>">
  <div class="row">
    <div class="col-xs-2 task-checkbox-block">
      <input type="checkbox" class="task-checkbox" ng-model="confirmed.month<%= id %>" ng-change="taskdone(<%= id %>, 'month')">
    </div>
    <div class="col-xs-7 task-content-block">
      <a href="#" editable-text="monthtasks[<%= id %>].content"
                     onbeforesave="edit($data, 'month', <%= id %>)"
                     monthtaskcontent="<%= id %>">
                    <%= content %>
      </a>
    </div>
    <div class="col-xs-1"><span class="glyphicon glyphicon-edit"></span></div>
    <div class="col-xs-1">
      <span ng-click="delete_task('month', <%= id %>)" class="glyphicon glyphicon-trash" style="cursor: pointer"></span>
    </div>
  </div>
</div>